<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Buzzer</title>
</head>
<body class="bg-gray-900 flex items-center justify-center min-h-screen font-sans">

  <button
    class="text-white text-4xl sm:text-6xl font-bold bg-red-600 hover:bg-red-700 active:bg-red-800 px-16 py-16 inset-shadow-md inset-shadow-red-500 rounded-full shadow-2xl transition transform hover:scale-105 active:scale-95"
    onclick="buzz()">

  </button>

  <script>
    const socket = new WebSocket("ws://localhost:3001/ws");
    function buzz() { 
      socket.send(localStorage.getItem('username'))
    }
  </script>
</body>
</html>